@font-face{
    font-family: Barlow;
    src: url(font/BarlowSemiCondensed-Medium.otf);
    font-weight:normal;
    font-style: normal;
}

body{
    background-color: #EFF6FF;
    /* font-family: "Georgia", serif; */
    font-family: Barlow;
}

.h1{
    color: #2A4A5C;
    font-size: small;
}

/* .h3 label{
    color: black;
    font-size: small;
} */

.h2{
    font-size:medium;
    color: #7B8A92;
}

.h3{
    font-size: smaller;
    color:#96A5B1;
}

.center-box{
    background-color: #FFFFFF;
    height:fit-content;
    width:fit-content;
    margin:auto auto;
    /* box-shadow: 0px 0px 10px #AFAFAF; */
    border: hidden;
    /* box-sizing: content-box; */
    /* -webkit-box-align: center; */
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
}

.content {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
}

.grid{
    display: grid;
    border: 1px solid#96A5B1;
    height:fit-content;
    width:fit-content;
}

.grid input{
    border-style: hidden;
    outline-style: none;
    padding-left: 5px;
    height: 36px;
    font-size: large;
    background-color: transparent;
}


.t-center{
    text-align: center;
}

.t-small{
    font-size: small;
}

.login-form{
    padding-left: 3%;
    padding-right: 3%;
    /* width: 500px; */
    /* min-width: min-content; */
    /* max-width: max-content; */
    /* height: 100%; */
}

.space{
    padding-top: 40px;
}

.s-left{
    padding-left: 40px;
}

.s-small{
    padding-top: 20px;
}

label{
    padding-left: 5px;
}

.bn-ln{
    background-color: #0076B6;
    color: #EEEEEE;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.bn-ln img{
    padding: 25% 25%;
    resize: both;
    max-block-size:20px; 
}

.bn-fb{
    background-color: #255A9B;
    color: #EEEEEE;
    /* max-height: fit-content; */
    /* font-size: small; */
}

.bn-width{
    width:253px;
    height: 46px;
}

.span{
    text-align: left;
    font-size: medium;
    margin:auto auto;
    /* padding-top: 6px;  */
    /* padding-right: 50px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bn-logo{
    width: 46px;
    height: 46px;
}

.bn-logo img{
    padding: 25%;
    /* resize: both; */
    /* block-size: 16px;  */
}

.bn-ca{
    background-color: #3698FB;
    text-align: center;
    color: white;
    border:none;
    border-radius: 3px;
    /* padding: 12px 72px; */
    font-size: medium;
}

.bg-logo{
    background-image: url(img/bg.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-width: min-content; */
    min-width: 500px;
    max-width: 664px;
}

.logo-img{
    /* background-image: url(img/logo.svg);
    background-size: cover;
    background-repeat: no-repeat; */
    /* max-block-size: 5%; */
    /* max-width: 5%; */
    /* width: 5px;  */
    padding: 5% 4%;
}

.logo-img img{
    resize: both;
    max-width: 25%;
}

.hr{
    width: 125px;
    padding-left: 5px;
    padding-right: 5px;
    /* height: 1px; */
    /* border: 0; */
    /* border-top: 1px solid #ccc; */
}

.center{
    margin: auto auto;
}

.info{
    box-shadow: 0 0 10px #AFAFAF;
    width: 250px;
    padding: 10px 5px 10px 5px;
}


